h1 {
  color: #091353;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
  text-align: center;

}

.latin-writting{
  font-family: 'Zen Old Mincho', serif;
  font-size: 40px;
  margin-right: 20px;

}

#founder-line{
  text-decoration: none;
  font-size: 16px;
}

#background-color {
  background-color: #E6E6E6;
  box-shadow: 2px 2px 3px

}

h2, h3 {
  color: #22577A;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

.motivational-qote {
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 30px;
  font-weight: 100;

}

body {
 background-color: #FBFBFB;
}

a {
  text-decoration: none;
  color: #39A388;
}

a:hover {
  text-decoration: underline;
  color: #1C7947;
}

.container {
  margin: 0px auto;
  width: 500px;
  padding: 40px;
  box-shadow: 2px 2px 3px #6D9886;
  background-color: #C8E3D4;

}

.bigger-link {
  font-size: 24px;
}

#change-color-google:hover {
  color: #113CFC;
}

#change-color-youtube:hover {
  color: #E02401;
}

#my_foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

#background {
  box-shadow: 1px 1px 3px #6D9886;
  padding: 10px 5px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
